/*colours 
PURPLE: #833ab4;
RED: #fd1d1d;
YELLOW: #fcb045;
BGcolour:  #FDFFFC;
ORANGE: #ef9750;
TYPEFONT COLOR: #161925;
*/

/* All the styling for the header */
header {
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, #833ab4 0%, #fd1d1d 50%, #fcb045 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.5rem;
    gap: 2rem;
}

header nav {
    display: flex;
    gap: 1rem;
    align-items: center;

}

header nav a {
    text-decoration: none;
    font-size: 1rem;
    color: white;
    position: relative;


}

/*header nav a::after,*/
.navlink-current::after {
    content: "";
    background-color: white;
    position: absolute;
    bottom: -0.5rem;
    height: 0.1rem;
    width: 100%;
    border-radius: 1rem;
    left: 0;
    transition: all ease-in-out 500ms;



}

header nav a::after:hover {}

/* CTA button was given a different color / appearance to get user to contact the agency more easily */
.button-contact {
    background-color: #833ab4;
    padding: 1rem;
    border-radius: 1rem;
    transition: all ease-in-out 500ms;
    border: transparent 0.2rem solid;

}

.button-contact:hover {
    background-color: white;
    border: #833ab4 0.2rem solid;
    color: #833ab4;
}

/* align icon to be aligned with the bottom of text */
header nav a.button-contact span.material-symbols-outlined {
    vertical-align: bottom;
}

footer {
    background-color: #fcb045;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

main {
    background-color: #FDFFFC;
    width: 70%;
    margin: 0 auto;
}

main section {
    padding: 1.5rem;
}

/* helper classes */
.grid {
    display: grid;
    gap: 1rem;
}

.grid-col2 {
    grid-template-columns: 1fr 1fr;
}

.grid-col3 {
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-col2-left {
    grid-template-columns: 1fr 5fr;
}

section.services article {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 1rem;
    transition: all ease-in-out 300ms;
    border-radius: 0.5rem;

}

section.services article:hover {
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 20px 150px;

}

section.services h3 {
    text-align: center;

}

section.services article p.icon {
    text-align: center;

}

section.team p.function-title {
    color: #fd1d1d;
    font-weight: bold;
}

section.team {
    max-width: 80%;
    margin: 0 auto;
}

.stroke {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    font-size: 3rem;
}

.world-images {
    position: relative;
    top: 0;
    left: 0;
    background-color: #fcb045;
    border-radius: 0.5rem;
    padding: 0.7rem;


}

.world-images img#topside {
    position: absolute;
    right: -1rem;
    bottom: -2rem;
    width: 70%
}

.world-images img {
    border-radius: 0.5rem;
}

main section.team section img {
    border-radius: 0.5rem;
}

main section.cta {
    background-color: #ef9750;
    margin-bottom: 1.5rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;

}

main section.cta a.button-contact {
    width: 25%;
    text-align: center;
    text-decoration: none;
    color: #FDFFFC;
    padding: 1rem;
    justify-content: flex-end;
}

main section#projects {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1rem;
}

main section#projects img {
    border-radius: 0.5rem;
}

main section#projects figure {

    position: relative;
    margin: 1rem 0;


}

main section#projects figure img {
    width: 100%;
    height: auto;

}

main section#projects figure figcaption {
    position: absolute;
    left: 0;
    top: 0;
    right: 1rem;
    padding: 1rem;
    background-color: #fcb045;
    opacity: 0;
    transition: opacity 500ms ease-in-out;
    width: 100%;
    height: 100%;

}

main section#projects figure:nth-child(1) figcaption {
    background-color: #fd1d1d;
}

main section#projects figure figcaption:hover {
    opacity: 1;

}

main section#projects div {
    margin-bottom: 1rem;
}

/* afwisselend 1 van de drie basiskleuren van de website gebruiken om het interessanter te maken */
main section#projects div figure:nth-child(3) figcaption,
main section#projects div:nth-child(3) figure:nth-child(1) figcaption,
main section#projects div:nth-child(2) figure:nth-child(2) figcaption {
    background-color: #833ab4;
}

main section#projects div:nth-child(2) figure:nth-child(1) figcaption {
    background-color: #fcb045;
}

main section#projects div:nth-child(2) figure:nth-child(3) figcaption,
main section#projects div:nth-child(3) figure:nth-child(2) figcaption {
    background-color: #fd1d1d;
}

main section#projects article#project-info {
    border-radius: 0.5rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 1rem;
}

main form div.formgroup {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;

}

main form div.formgroup label {
    font-weight: bold;
}

main form div.formgroup input,
main form div.formgroup textarea {
    border: 2px #F3F3F4 solid;
    background-color: #F3F3F4;
    border-radius: 10px;
    padding: 0.5rem;

}

main form div.formgroup input[type="submit"] {
    align-self: flex-end;
    background-color: #833ab4;
    color: #F9F9F9;
    transition: all 300ms ease-in-out;
    font-weight: bold;
    padding: 1rem;
}

main form div.formgroup input:focus,
main form div.formgroup textarea:focus {
    background-color: white;
    border: 1px solid;
}

section.contact {
    padding: 1rem 0;
}

section.contact address {
    font-style: normal;
}

section.contact section.address {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 0.5rem;
}

span.title {
    color: #fd1d1d;
    font-weight: bold;
}

section.contact address a span,
p span.material-symbols-outlined {
    vertical-align: bottom;
    color: #161925;
}

section.cta {
    margin-top: 1rem;
}

section.cta i {

    padding: 1rem;
    font-size: 2rem;
    color: #161925;
}

iframe {
    padding: 2rem 0;
}